<h1>Editar Usuario</h1>

<div class="card">
    <form [formGroup]="editUserForm" (submit)="onEdit()" #localForm="ngForm">
        <div class="card-head">
            Información Personal
        </div>
        <div class="card-body">
            <div class="inputs">
                <div class="input-field">
                    <label>Primer nombre</label>
                    <input
                            type="text"
                            id="firstname"
                            formControlName="firstname"
                            [class.is-invalid]="editUserForm.get('firstname')?.invalid"
                            [(ngModel)]="user.firstname"
                            required>
                    <small style="color: darkred" *ngIf="editUserForm.get('firstname')?.invalid"> El nombre ingresado es inválido </small>
                </div>

                <div class="input-field">
                    <label>Segundo nombre</label>
                    <input
                            type="text"
                            id="middlename"
                            formControlName="middlename"
                            [class.is-invalid]="!editUserForm.get('middlename')?.invalid"
                            [(ngModel)]="user.middlename"
                            required>
                </div>

                <div class="input-field">
                    <label>Primer apellido</label>
                    <input
                            type="text"
                            id="lastname1"
                            formControlName="lastname1"
                            [class.is-invalid]="editUserForm.get('lastname1')?.invalid"
                            [(ngModel)]="user.lastname1"
                            required>
                    <small style="color: darkred" *ngIf="editUserForm.get('lastname1')?.invalid"> El apellido ingresado es inválido </small>

                </div>

                <div class="input-field">
                    <label>Segundo apellido</label>
                    <input
                            type="text"
                            id="lastname2"
                            formControlName="lastname2"
                            [class.is-invalid]="editUserForm.get('lastname2')?.invalid"
                            required>
                </div>
            </div>

            <div class="inputs">

                <div class="input-field">
                    <label>Fecha de nacimiento</label>
                    <input
                            type="date"
                            id="birthdate"
                            formControlName="birthdate"
                            [class.is-invalid]="editUserForm.get('birthdate')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="!editUserForm.get('birthdate')?.invalid"> El fecha de nacimiento es requerida </small>
                </div>

                <div class="input-field">
                    <label>Tipo de documento</label>
                    <select id="doctype" name="doctype" #doctype="ngModel" required [(ngModel)]="user.doctype">
                        <option value="0" disabled selected hidden>Seleccione una opción</option>
                        <option value="1">Cédula de ciudadanía</option>
                        <option value="2">Cédula de extranjería</option>
                        <option value="3">Pasaporte</option>
                    </select>
                </div>

                <div class="input-field">
                    <label>Número de documento</label>
                    <input
                            type="text"
                            id="docnumber"
                            formControlName="docnumber"
                            [class.is-invalid]="editUserForm.get('docnumber')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="!editUserForm.get('docnumber')?.invalid"> El número de documento es inválido </small>
                </div>

                <div class="input-field">
                    <label>Correo electrónico</label>
                    <input
                            type="email"
                            id="email"
                            formControlName="email"
                            [class.is-invalid]="editUserForm.get('email')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="!editUserForm.get('email')?.invalid"> El correo electrónico inválido es inválido </small>
                </div>
            </div>
        </div>

        <div class="card-head">
            Información Laboral
        </div>
        <div class="card-body">
            <div class="inputs">
                <div class="input-field">
                    <label>Id de empleado</label>
                    <input
                            type="text"
                            id="idemployee"
                            formControlName="idemployee"
                            [class.is-invalid]="editUserForm.get('idemployee')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="!editUserForm.get('idemployee')?.invalid"> El ID es inválido </small>
                </div>

                <div class="input-field">
                    <label>Cargo</label>
                    <select id="jobtitle" name="jobtitle" #jobtitle="ngModel" [(ngModel)]="user.jobtitle">
                        <option value="0" disabled selected hidden>Seleccione una opción</option>
                        <option value="1">Médico interno</option>
                        <option value="2">Médico especialista</option>
                        <option value="3">Radiólogo</option>
                        <option value="4">Enfermero</option>
                        <option value="5">Auxiliar</option>
                    </select>
                </div>

                <div class="input-field">
                    <label>Área</label>
                    <select id="area" name="area" #area="ngModel" [(ngModel)]="user.area">
                        <option value="0" disabled selected hidden>Seleccione una opción</option>
                        <option value="1">Medicina interna</option>
                        <option value="2">Medicina general</option>
                        <option value="3">Radiología</option>
                        <option value="4">Enfermería</option>
                        <option value="5">Auxiliar</option>
                    </select>
                </div>
                <div class="input-field">
                    <label>Observaciones</label>
                    <textarea id="observations" name="observations" cols="50" rows="5" #observations="ngModel" [(ngModel)]="user.observations"></textarea>
                </div>
            </div>
            <div class="links">
                <input type="submit" value="Actualizar">
            </div>
        </div>
    </form>
</div>
