<h1>Buscador de Usuario</h1>
<div class="container-search">
    <div class="card-search">
        <div class="card-head">
            Búsqueda por ID de Empleado
        </div>
        <div class="card-body">
            <form [formGroup]="searchIDForm" (submit)="onSearchID()" #localForm="ngForm">
                <div class="inputs-search">
                    <div class="inputs-field-search">
                        <label>ID de Empleado</label>
                        <input
                                type="text"
                                id="idEmployee"
                                formControlName="idEmployee"
                                required>
                    </div>
                </div>
                <div class="links">
                    <input id="id_summit" type="submit" value="Buscar">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-search">
    <div class="card-search">
        <div class="card-head">
            Búsqueda por Documento de Identidad
        </div>
        <div class="card-body">
            <form [formGroup]="searchDocumentForm" (submit)="onSearchDocument()" #localForm="ngForm">
                <div class="inputs-search">
                    <div class="inputs-field-search">
                        <label>Tipo de documento</label>
                        <select id="doctype" formControlName="doctype" required>
                            <option value="0" disabled selected hidden>Seleccione una opción</option>
                            <option value="1">Cédula de ciudadanía</option>
                            <option value="2">Cédula de extranjería</option>
                            <option value="3">Pasaporte</option>
                        </select>
                    </div>
                </div>
                <div class="inputs-search">
                    <div class="inputs-field-search">
                        <label>Número de documento</label>
                        <input
                                type="text"
                                id="document"
                                formControlName="document"
                                [class.is-invalid]="searchIDForm.get('document')?.invalid"
                                required>
                    </div>
                </div>
                <div class="links">
                    <input id="doc_summit" type="submit" value="Buscar">
                </div>
            </form>
        </div>
    </div>
</div>