<div class="content-body">
    <div class="container">
        <img class="logo" src="../../assets/images/logo-white.png" alt="Logo">
        <div class="box">
            <div class="form">
                <form [formGroup]="resetForm" (submit)="onSend()" #localForm="ngForm">
                    <h2>Contraseña</h2>
                    <br>
                    <p style="color: #495057; text-align: center">Ingrese el correo electrónico al cual se le enviará un código para reestablecer la contraseña</p>
                    <div class="inputBox">
                        <input type="text"
                               id="email"
                               formControlName="email"
                               [class.is-invalid]="resetForm.get('email')?.invalid"
                               required>
                        <span>Correo Electrónico</span>
                        <i></i>
                    </div>
                    <small style="color: darkred" *ngIf="invalidEmail"> El correo electrónico es incorrecto </small>
                    <div class="inputBox">
                        <input type="text"
                               id="confirmEmail"
                               formControlName="confirmEmail"
                               [class.is-invalid]="resetForm.get('confirmEmail')?.invalid"
                               required>
                        <span>Confirme el Correo Electrónico</span>
                        <i></i>
                    </div>
                    <small style="color: darkred" *ngIf="invalidConfirmEmail"> El correo electrónico es incorrecto </small>
                    <br>
                    <div class="links">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>