<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-right">
            <div class="head-user-avatar-container">
                <div class="head-user-avatar">
                    <i class="user-avatar far fa-user"></i>
                </div>
            </div>
            <div class="head-user-name">
                Nombre Usuario
            </div>
            <div class="head-menu-item">
                <button class="head-menu-item-btn ripple">
                    <i class="far fa-sign-out menu-icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>
