<h1>Nuevo Usuario</h1>

<div class="card">
    <form [formGroup]="newUserForm" (submit)="onNewUser()" #localForm="ngForm">
        <div class="card-head">
            Información Personal
        </div>
        <div class="card-body">
            <div class="inputs">
                <div class="input-field">
                    <label>Primer nombre</label>
                    <input
                            type="text"
                            id="name"
                            formControlName="name"
                            [class.is-invalid]="newUserForm.get('name')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="invalidFirstname"> El nombre ingresado es inválido </small>
                </div>

                <div class="input-field">
                    <label>Segundo nombre</label>
                    <input
                            type="text"
                            id="name2"
                            formControlName="name2"
                            required>
                </div>

                <div class="input-field">
                    <label>Primer apellido</label>
                    <input
                            type="text"
                            id="lastname"
                            formControlName="lastname"
                            [class.is-invalid]="newUserForm.get('lastname')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="invalidLastname1"> El apellido ingresado es inválido </small>
                </div>

                <div class="input-field">
                    <label>Segundo apellido</label>
                    <input
                            type="text"
                            id="lastname2"
                            formControlName="lastname2"
                            required>
                </div>
            </div>

            <div class="inputs">

                <div class="input-field">
                    <label>Fecha de nacimiento</label>
                    <input
                            type="date"
                            id="birthdate"
                            formControlName="birthdate"
                            [class.is-invalid]="newUserForm.get('birthdate')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="invalidBirthdate"> El fecha de nacimiento es requerida </small>
                </div>

                <div class="input-field">
                    <label>Tipo de documento</label>
                    <select id="doctype"
                            name="doctype"
                            formControlName="doctype"
                            [class.is-invalid]="newUserForm.get('doctype')?.invalid"
                            required>
                        <option value="0" disabled selected hidden>Seleccione una opción</option>
                        <option value="1">Cédula de ciudadanía</option>
                        <option value="2">Cédula de extranjería</option>
                        <option value="3">Pasaporte</option>
                    </select>
                    <small style="color: darkred" *ngIf="invalidDoctype"> Por favor seleccione una opción </small>
                </div>

                <div class="input-field">
                    <label>Número de documento</label>
                    <input
                            type="text"
                            id="document"
                            formControlName="document"
                            [class.is-invalid]="newUserForm.get('document')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="invalidDocnumber"> El número de documento es inválido </small>
                </div>

                <div class="input-field">
                    <label>Correo electrónico</label>
                    <input
                            type="email"
                            id="email"
                            formControlName="email"
                            [class.is-invalid]="newUserForm.get('email')?.invalid"
                            required>
                    <small style="color: darkred" *ngIf="invalidEmail"> El correo electrónico inválido es inválido </small>
                </div>
            </div>
        </div>
        <div class="card-head">
            Información Laboral
        </div>
        <div class="card-body">
            <div class="inputs">
                <div class="input-field">
                    <label>Id de empleado</label>
                    <input
                            type="text"
                            id="idEmployee"
                            formControlName="idEmployee"
                            required>
                    <small style="color: darkred" *ngIf="invalidIdemployee"> El ID es inválido </small>
                </div>

                <div class="input-field">
                    <label>Cargo</label>
                    <select id="jobtitle"
                            name="jobtitle"
                            formControlName="jobtitle"
                            required>
                        <option value="0" disabled selected hidden>Seleccione una opción</option>
                        <option value="Médico interno">Médico interno</option>
                        <option value="Médico especialista">Médico especialista</option>
                        <option value="Radiólogo">Radiólogo</option>
                        <option value="Enfermero">Enfermero</option>
                        <option value="Auxiliar">Auxiliar</option>
                    </select>
                    <small style="color: darkred" *ngIf="invalidJobtitle"> Por favor seleccione una opción </small>
                </div>

                <div class="input-field">
                    <label>Área</label>
                    <select id="area"
                            name="area"
                            formControlName="area"
                            required>
                        <option value="0" disabled selected hidden>Seleccione una opción</option>
                        <option value="Medicina interna">Medicina interna</option>
                        <option value="Medicina general">Medicina general</option>
                        <option value="Radiología">Radiología</option>
                        <option value="Enfermería">Enfermería</option>
                        <option value="Auxiliar">Auxiliar</option>
                    </select>
                    <small style="color: darkred" *ngIf="invalidArea"> Por favor seleccione una opción </small>
                </div>
                <div class="input-field">
                    <label>Rol</label>
                    <select id="role"
                            name="role"
                            formControlName="role"
                            [class.is-invalid]="newUserForm.get('role')?.invalid"
                            required>
                        <option value="0" disabled selected hidden>Seleccione una opción</option>
                        <option value="U">Usuario</option>
                        <option value="A">Administrador</option>
                    </select>
                    <small style="color: darkred" *ngIf="invalidRole"> Por favor seleccione una opción </small>
                </div>
            </div>
            <div class="inputs">
                <div class="input-field">
                    <label>Observaciones</label>
                    <textarea id="observations" name="observations" formControlName="observations" cols="50" rows="5"></textarea>
                </div>
            </div>
            <div class="links">
                <input type="submit" value="Registrar">
            </div>
        </div>
    </form>
</div>
