<h1>Usuarios</h1>
<div class="card">
    <div class="card-head">
        Todos los usuarios registrados en el sistema son:
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th class="order-header" (click)="sortColumn('idEmployee')">Id Empleado</th>
            <th class="order-header" (click)="sortColumn('name')">Nombre</th>
            <th class="order-header" (click)="sortColumn('email')">Correo</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.idEmployee}}</td>
            <td>{{user.name}} {{user.name2}} {{user.lastname}} {{user.lastname2}}</td>
            <td>{{user.email}}</td>
            <td>
                <a [routerLink]="['/home/admin/edit-user', user.idEmployee]"><i class="fas fa-edit table-link"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="table-link" (click)="showDeletePopUp(user)"><i class="fas fa-trash-alt table-link"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <app-pop-up (denialEvent)="receiveDenial({$event : $event})"
                (confirmEvent)="receiveAcceptance({$event : $event})"
                *ngIf="showPopUp"></app-pop-up>
</div>
