<ngx-ui-loader fgsColor="#074E9F" text="Cargando... (Esto puede tardar unos minutos)"></ngx-ui-loader>
<h1>Nueva Consulta</h1>
<div class="card">
    <div class="card-head">
        Especificaciones de la Resonancia
    </div>
    <div class="card-body">
        <form (submit)="onAnalyze()" #localForm="ngForm">
            <div class="inputs">
                <div class="input-field stylish" style="width: calc(100% / 2 - 30px);">
                    <input
                            type="file"
                            id="imageFile"
                            (change)="onUploadImage({e : $event})"
                            required>
                    <span class="placeholder"><i class="fal fa-upload"></i>  Subir Imagen</span>
                </div>

                <div class="input-field stylish" style="width: calc(100% / 2 - 30px);">
                    <input
                            type="file"
                            id="metadataFile"
                            (change)="onUploadMetadata({e : $event})"
                            required>
                    <span class="placeholder"><i class="fal fa-upload"></i>  Subir Metadata</span>
                </div>

            </div>

            <div class="links">
                <input type="submit" value="Analizar">
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-head">
        Resultados
    </div>
    <div class="card-body">
        <div class="content" *ngIf="!results">
            <p style="color: #5B5B5B">Actualmente no hay resultados a mostrar</p>
        </div>
        <div class="inputs" *ngIf="results">
            <div class="input-field stylish" style="width: calc(100% / 3 - 30px);">
                <input type="text" style="color: #0057B8; font-weight: bold; text-decoration: underline;" [value]="prediction" readonly>
                <span class="placeholder">Ruido</span>
            </div>
            <div class="input-field stylish" style="width: calc(100% / 3 - 30px);">
                <input type="text" value="{{confidence*100}}%" readonly>
                <span class="placeholder">Porcentaje de confianza</span>
            </div>
            <div class="input-field stylish" style="width: calc(100% / 3 - 30px);">
                <input type="submit" style="background: #F8CD00;" (click)="onCsv()" value="Descargar CSV">
            </div>
        </div>
    </div>
</div>