<div class="content-body">
    <div class="container">
        <img class="logo" src="../../assets/images/logo-white.png" alt="Logo">
        <div class="box">
            <div class="form">
                <form [formGroup]="codeForm" (submit)="onCheck()" #localForm="ngForm">
                    <h2>Inserte el Código</h2>
                    <br>
                    <p style="color: #495057; text-align: center">Ingrese el código enviado al correo ingresado.</p>
                    <div class="inputBox">
                        <input type="text"
                               id="code"
                               formControlName="code"
                               [class.is-invalid]="codeForm.get('code')?.invalid"
                               required>
                        <span>Código</span>
                        <i></i>
                    </div>
                    <small style="color: darkred" *ngIf="invalidCode"> El código ingresado es incorrecto </small>
                    <br>
                    <div class="links">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>