<h1>Historial</h1>
<div class="card">
    <div class="card-head">
        Su historial de resonancias consultadas actual es:
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>ID Paciente</th>
            <th>Resultado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of historyData">
            <td>{{data.fecha}}</td>
            <td>{{data.idPatient}}</td>
            <td>{{data.resultado}}</td>
        </tr>
        </tbody>
    </table>
</div>
