<div class="content-body">
    <div class="container">
        <img class="logo" src="../../assets/images/logo-white.png" alt="Logo">
        <div class="box">
            <div class="form">
                <form [formGroup]="newPasswordForm" (submit)="onUpdate()" #localForm="ngForm">
                    <h2>Nueva Contraseña</h2>
                    <br>
                    <p style="color: #495057; text-align: center">Ingrese la nueva contraseña</p>
                    <div class="inputBox">
                        <input type="password"
                               id="password"
                               formControlName="password"
                               [class.is-invalid]="newPasswordForm.get('password')?.invalid"
                               required>
                        <span>Nueva Contraseña</span>
                        <i></i>
                    </div>
                    <small style="color: darkred" *ngIf="invalidPassword"> La contraseña es inválida </small>
                    <div class="inputBox">
                        <input type="password"
                               id="confirmPassword"
                               formControlName="confirmPassword"
                               [class.is-invalid]="newPasswordForm.get('confirmPassword')?.invalid"
                               required>
                        <span>Confirme la Nueva Contraseña</span>
                        <i></i>
                    </div>
                    <small style="color: darkred" *ngIf="invalidConfirmPassword"> La contraseña es inválida </small>
                    <br>
                    <div class="links">
                        <input type="submit" value="Actualizar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>