<h1>Usuarios</h1>
<div class="card">
    <div class="card-head">
        Todos los usuarios registrados en el sistema son:
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Id Empleado</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.idEmployee}}</td>
            <td>{{user.name}} {{user.name2}} {{user.lastname}} {{user.lastname2}}</td>
            <td>{{user.email}}</td>
            <td>
                <a [routerLink]="['/admin/edit-user', user.idEmployee]"><i class="fas fa-edit" style="color: #F8CD00;"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a (click)="showDeletePopUp(user.idEmployee)"><i class="fas fa-trash-alt" style="color: #F8CD00;"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <app-pop-up (denialEvent)="receiveDenial({$event : $event})"
                (confirmEvent)="receiveAcceptance({$event : $event})"
                *ngIf="showPopUp"></app-pop-up>
</div>
