@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~ngx-toastr/toastr";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: #E7E7E7;
}

input[type="date"],
textarea{
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #F8CD00;
}

h2 {
    color: #074E9F;
}

text-danger{
    color: darkred;
}

label{
    font-size: 12px;
    font-weight: 500;
    color: #074E9F;
}

.content-body {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:#0057B8;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
}

.card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
    color: #074E9F;
}

.card-body {
    padding: 1rem 1.5rem;
}

.popup-container{
    width: 40%;
    box-shadow: 5px 5px 4px #ccc;
    border-radius: 10px;
    background-color: #E7E7E7;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
}

.inputs{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 30px auto;
}

.input-field {
    display: flex;
    align-items: flex-start;
    width: calc(100% / 4 - 30px);
    flex-direction: column;
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.input-field input{
    border: 2px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: 12px;
    border-radius: 50px;
    outline: none;
    width: 100%;
    font-size: 14px;
    z-index: 2;
}

.input-field input:read-only{
    border: 2px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 50px;
    outline: none;
    width: 100%;
    font-size: 14px;
    z-index: 2;
    background: #e3e1e1;
}

.input-field input[type="file"]{
    border: 2px solid #ddd;
    background: transparent;
    border-radius: 50px;
    outline: none;
    width: 100%;
    font-size: 14px;
    z-index: 2;
    height: 100%;
}

.input-field textarea{
    border: 2px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: 12px;
    border-radius: 15px;
    outline: none;
    width: 100%;
    font-size: 14px;
    z-index: 2;
}

.input-field select{
    border: 2px solid #ddd;
    background: transparent;
    padding: 12px;
    border-radius: 50px;
    width: 100%;
    font-size: 14px;
    z-index: 2;
}

.input-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: translateY(-50%);
    color: #08468d;
    z-index: 1;
    background-color: transparent;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-field input:valid + .placeholder,
.input-field input:focus + .placeholder,
.input-field select:valid + .placeholder,
.input-field select:focus + .placeholder
.input-field textarea:valid + .placeholder,
.input-field textarea:focus + .placeholder{
    top: 10px;
    font-size: 14px;
    color: #074E9F;
    border-color: #074E9F;
}

.input-field.stylish input,
.input-field.stylish select,
.input-field.stylish textarea{
    border: 2px solid #ddd;
    transition: border 0.3s ease;
}

.input-field.stylish input:valid,
.input-field.stylish input:focus,
.input-field.stylish input:read-only,
.input-field.stylish select:valid,
.input-field.stylish select:focus,
.input-field.stylish textarea:valid,
.input-field.stylish textarea:focus{
    border-color: #074E9F;
    transition-delay: 0.1s;
}

.input-field.stylish input:valid + .placeholder,
.input-field.stylish input:focus + .placeholder,
.input-field.stylish input:read-only + .placeholder,
.input-field.stylish select:valid + .placeholder,
.input-field.stylish select:focus + .placeholder,
.input-field.stylish textarea:valid + .placeholder,
.input-field.stylish textarea:focus + .placeholder{
    top: 0;
    font-size: 14px;
    color: #074E9F;
    background: #fff;
    width: auto
}

.input-field.stylish input[type="date"] {
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.input-field.stylish input[type="file"] {
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.input-field.stylish input[type="date"]:valid,
.input-field.stylish input[type="date"]:focus,
.input-field.stylish input[type="file"]:valid,
.input-field.stylish input[type="file"]:focus {
    border-color: #074E9F;
    transition-delay: 0.1s
}

.input-field.stylish input[type="date"]:not(:placeholder-shown) + .placeholder,
.input-field.stylish input[type="date"]:focus + .placeholder,
.input-field.stylish input[type="file"]:not(:placeholder-shown) + .placeholder,
.input-field.stylish input[type="file"]:focus + .placeholder,
.input-field.stylish textarea + .placeholder,
.input-field.stylish textarea + .placeholder {
    top: 0;
    font-size: 14px;
    color: #074E9F;
    background: #fff;
    width: auto
}

.input-field.stylish input[type="file"]::file-selector-button{
    background: #074E9F;
    color: #E7E7E7;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    height: 30px;
    outline: none;
    border: 1px solid #074E9F;
    cursor: pointer;
}

.links{
    display: flex;
    justify-content: center;
}

.links a {
    margin: 30px 0;
    font-size: 0.75em;
    color: #074E9F;
}

input[type="submit"]{
    border: 1px solid #074E9F;
    outline: none;
    background: #F8CD00;
    padding: 11px 11px 11px 11px;
    width: 150px;
    margin-top: 10px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    color: #074E9F;
    text-align: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 25px 25px 25px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background: #074E9F;
    color: #E7E7E7;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr{
    border-bottom: 1px solid #E7E7E7;
}

.content-table tbody tr:nth-of-type(even){
    background: #E7E7E7;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #074E9F;
}

input[type="submit"]:active{
    opacity: 0.8;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-header{
    cursor: pointer
}

.order-header:hover{
    color: #F8CD00;
}

.table-link{
    cursor: pointer;
    color: #F8CD00;
}

.table-link:hover{
    color: #074E9F;
}