@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: #E7E7E7;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
}

.card2 {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 .25rem .5rem #e6edef;
    width: 50%;
    text-align: center;
}

.card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
    color: #074E9F;
}

.card-body {
    padding: 1rem 1.5rem; 
}

h1 {
    color: #F8CD00;
}

h2 {
    color: #074E9F;
}

text-danger{
    color: darkred;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.row .col-4 {
    width: 30%;
}

.col {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    font-size: 1rem;
    display: block;
    color: #074E9F;
}

input {
    width: 80%;
    padding: 5px;
    border: 1px solid #074E9F;
    border-radius: 4px;
    font-size: 1rem;
}

.inputs{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px auto;
}

.input-field{
    display: flex;
    align-items: center;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #074E9F;
}

.input-field input[type="text"],
.input-field input[type="date"],
.input-field textarea{
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    height: 30px;
    margin: 8px 0;
    outline: none;
    border: 1px solid #074E9F;
    width: 60%;
}

.custom-file{
    margin: 8px 0;
    border: 1px solid #074E9F;
    border-radius: 15px;
    width: 60%;
}

.custom-file::file-selector-button{
    background: #074E9F;
    color: #E7E7E7;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    height: 30px;
    outline: none;
    border: 1px solid #074E9F;
}

.links{
    display: flex;
    justify-content: center;
}

.links a {
    margin: 30px 0;
    font-size: 0.75em;
    color: #074E9F;
}

input[type="submit"]{
    border: 1px solid #074E9F;
    outline: none;
    background: #F8CD00;
    padding: 11px 11px 11px 11px;
    width: 150px;
    margin-top: 10px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    color: #074E9F;
    text-align: center;
}

input[type="submit"]:active{
    opacity: 0.8;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

select {
    width: 80%;
    padding: 5px;
    border: 1px solid #074E9F;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #074E9F;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    color: #074E9F;
    background-color: #F8CD00;
    cursor: pointer;
}

.btn-primary:disabled{
    cursor: not-allowed;
}

.validation {
    color: red;
    font-size: 0.8rem;
    width: 80%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1rem;
}

thead, th {
    background-color: #074E9F;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}